Frameworks/Muse.framework/Muse filter=lfs diff=lfs merge=lfs -text
Frameworks/Muse.xcframework/**/Muse filter=lfs diff=lfs merge=lfs -text
Frameworks/SpotifyiOS.xcframework/**/*.a filter=lfs diff=lfs merge=lfs -text
